.pokedexTable{
    width: auto;
    height: auto;
}

.pokeCardDiv{
    font-size: '10px';
    background-color: gray;
    width: 200px;
    border-style: groove;
    border-width: 10px;
    border-color: white;
    border-radius: 50px;
}

.pokemonImage{
    width: 200px;
    height: 200px;
}
.pokeCardH3{
    color: white;
}
.pokedexDiv{

  background-image: url("https://data.whicdn.com/images/250452294/original.jpg");
  
}

.pokeCard-Container{
    margin: 1rem;
    padding: 5px;
}

.pokedexDiv img{
    transition: all ease 1000ms;
}

.pokeCardDiv img:hover{
    transform : scale(1.25);
}